<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ self.app_title() }} :: API documentation</title>
    <script type="module" src="{{ js_path }}"></script>
  </head>
  <body>
    <rapi-doc spec-url="{{ spec_path }}" sort-tags="true" heading-text="{{ self.app_title() }}" theme="dark"></rapi-doc>
  </body>
</html>
